# macOS Finder metadata
.DS_Store

# Xcode build output
DerivedData/
build/

# Xcode local user state
*.xcuserstate
*.moved-aside

# Xcode user-specific project/workspace settings
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

docs/
Tsukimi-AppIcon-macOS/
